body {
    text-align: center;
    background-image: url('https://images.pexels.com/photos/35009194/pexels-photo-35009194.jpeg');
    min-height: 100dvh;
    min-width: 100%;
    background-size: cover;
}

button {
    margin-bottom:  150px;
    margin-top: 50px;
    font-size:  20px;
}

h1 {
    text-shadow: 5px 5px 9px white;
    font-family: 'Montserrat';

}

input {
    margin-top: 10px;
}

.login {
    border: 2px solid black;
    border-radius: 20px ;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
}

